<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Pasteboard &mdash; Uploaded Image</title>
    <meta name="description" content="Super simple and lightning fast image sharing. Upload clipboard images with Copy &amp; Paste and image files with Drag &amp; Drop">
    <%- css("image") %>
    <%- js("head") %>
    <% if (useAnalytics) { %>
      <!-- Google Analytics -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= trackingCode %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% } %>
  </head>
  <body data-page="Image Page">
    <canvas class="shadow"></canvas>
    <div class="image-container">
      <img src="<%= imageURL %>" alt="uploaded image" class="image" onerror="brokenLink()">
    </div>
    <div class="spinner"></div>
    <div class="broken-link">Image not found</div>
    <aside>
      <div class="short-url">
        <span>Short URL:</span>
        <input type="text" readonly onClick="this.select();">
      </div>
      <a href="/images/<%= imageName %>/download" class="button" data-track="Download">Download image</a>
      <% if (isImageOwner) { %>
      <button class="cancel delete" data-track="Delete" data-image="<%= imageName %>">Delete image</button>
      <% } %>
      <a href="/" class="button confirm" data-track="Home">Upload an image</a>

    </aside>
    <footer>
      <h1 class="title"><a href="/">Pasteboard</a></h1>
      <span class="author">By <a href="https://twitter.com/JoelBesada" target="__blank" data-track="Twitter">@JoelBesada</a></span>
    </footer>
    <%- js("image") %>
  </body>
</html>
