<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Pasteboard &mdash; Easy Image Uploads</title>
    <meta name="description" content="Super simple and lightning fast image uploads using Copy &amp; Paste or Drag &amp; Drop">
    <%- css("main") %>
    <%- js("head") %>
    <!-- Globals -->
    <script type="text/javascript">
      window.SOCKET_PORT = <%= port %>;
    </script>
    <% if (useAnalytics) { %>
      <!-- Google Analytics -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= trackingCode %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% } %>
  </head>
  <body data-page="Main Page">
    <% if (redirected) { %>
    <div class="welcome">Welcome to the next version of PasteShack, I hope you like the new design and features.</div>
    <% } %>
    <canvas class="shadow"></canvas>
    <section class="splash">
      <div class="splash-instructions">
        <div class="splash-image">
        <div class="image-regular"></div>
        <div class="image-shine"></div>  
        </div>
        <p>
          <span class="copyandpaste">Copy &amp; Paste</span> or <span class="draganddrop">Drag &amp; Drop</span> <br>
          <span class="sub-text">the image you want to upload.</span> 
        </p>
      </div>
      <div class="not-supported">
        <p>
          This browser is not supported because of missing HTML5 features.
        </p>
      </div>
    </section>
    
    <div class="link-bar">
      <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&source=tweetbutton&text=Pasteboard%20-%20Easy%20Image%20Uploads&url=http%3A%2F%2Fpasteboard.co&via=JoelBesada" class="tweet button" target="__blank"><span class="icon"></span>Tweet</a>
      <a href="https://github.com/JoelBesada/pasteboard" class="source button" target="__blank" data-track="Github"><span class="icon"></span>Source</a>
      <a href="#" class="show-about button"><span class="icon"></span>About</a>
    </div>
    
    <footer>
      <h1 class="title">Pasteboard</h1>
      <span class="author">By <a href="https://twitter.com/JoelBesada" target="__blank" data-track="Twitter">@JoelBesada</a></span>
    </footer>
  	
    <%- js("main") %>
  </body>
</html>